---
import Section from "../Section.astro";
import {basics} from '../../data/cv.json'
const { summary } = basics
---
<Section title="Sobre mi">
  <p class="text-sm font-[family-name:var(--mono)] font-light text-[rgb(var(--dark),0.65)] text-pretty leading-snug tracking-tight">
    {summary}
  </p>
</Section>
