---
import LayoutCV from "../layouts/LayoutCV.astro";
import Hero from "../components/resume/Hero.astro";
import About from "../components/resume/About.astro";
import Experience from "../components/resume/Experience.astro";
import Education from "../components/resume/Education.astro";
import Skills from "../components/resume/Skills.astro";
import Projects from "../components/resume/Projects.astro";
import KeyboardManager from '../components/KeyboardManager.astro'

import { basics } from '../data/cv.json'
const { name, label } = basics
---

<LayoutCV title={`Curriculum Vitae de ${name} • ${label}`} >
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
  <KeyboardManager />
</LayoutCV>

<style>
  main{
    margin: 64px 0;
    @media (width <= 700px) {
      margin: 32px 0;
    }
  }
</style>
