---
import Section from "./Section.astro";
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Bluesky from "../icons/Bluesky.astro";
import Instagram from "../icons/Instagram.astro";
import Threads from "../icons/Threads.astro";
const today = new Date();
---

<Section>
  <footer
    class="font-[family-name:var(--heading)] font-light text-center text-[rgb(var(--light),0.65)] animate-fade-in-right"
  >
    <header class="flex flex-col gap-1 tracking-tight">
      <h3
        class="text-sm text-shadow-[0_0_8px_rgb(var(--primary),0.45)] capitalize"
      >
        Edinson Rivera • Desarrollo Web • Gestión Social Media
      </h3>
      <p
        class="text-xs tracking-wide font-extralight text-[rgb(var(--light),0.35)] capitalize"
      >
        &copy; {today.getFullYear()} @edirju. Todos los derechos reservados.
      </p>
    </header>
    <div class="social-links flex justify-center gap-4 mt-2">
      <a
        href="https://www.linkedin.com/in/edinson-rivera-jurado/"
        target="_blank"
      >
        <span class="sr-only">Ir a</span>
        <Linkedin />
      </a>

      <a href="https://github.com/Edirju" target="_blank">
        <span class="sr-only">Ir a</span>
        <Github />
      </a>

      <a href="https://www.instagram.com/edirju/" target="_blank">
        <span class="sr-only">Ir a</span>
        <Instagram />
      </a>

      <a href="https://www.threads.net/@edirju" target="_blank">
        <span class="sr-only">Ir a</span>
        <Threads />
      </a>

      <a
        href="https://bsky.app/profile/edinsonrivera.bsky.social"
        target="_blank"
      >
        <span class="sr-only">Ir a</span>
        <Bluesky />
      </a>
    </div>
  </footer>
</Section>

<style>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";
  .social-links {
    a {
      text-decoration: none;
      transition-property: transform, color;
      transition-duration: 0.3s, 0.5s;
      transition-delay: 0s, 0.1s;
      &:hover {
        transform: scale(1.2) rotate(360deg);
        color: rgb(var(--primary),0.85);
      }
    }
  }
</style>
