---
import HeaderLink from "./HeaderLink.astro";
import Logo from "../icons/Logo.astro";
---

<header
  class="font-[family-name:var(--body)] text-[rgb(var(--light),0.55)] sticky top-0 z-20 bg-[rgb(var(--black),0.20)] backdrop-blur-md backdrop-saturate-150 shadow-[0_0_25px_rgb(var(--black),0.45)] w-full bg-linear-to-br from-[rgb(var(--dark),0.20)] via-[rgb(var(--primary),0.05)] to-[rgb(var(--black),0.20)] border-b border-[rgb(var(--primary),0.05)] mb-[36px] md:mb-[56px]"
>
  <section
    class="menu max-w-[700px] p-4 md:px-0 flex flex-row flex-wrap items-center justify-between md:mx-auto"
  >
    <a
      href="/"
      class="logo flex items-center gap-1 transition-all duration-300 ease-in-out text-[rgb(var(--primary),0.65)] hover:text-[rgb(var(--light),0.65)] hover:text-shadow-[0_0_8px_rgb(var(--primary),0.45)]"
    >
      <figure
        class="favicon rotacion hover:shadow-[0_0_8px_rgb(var(--primary),0.45)] rounded-full"
      >
        <Logo class="" />
      </figure>
      <h2
        class="text-2xl font-semibold tracking-tighter sm:pr-1 sm:border-r sm:border-[rgb(var(--primary),0.25)]"
      >
        untaledinson...
      </h2>
    </a>
    <nav
      class="flex flex-wrap items-center sm:justify-center justify-between gap-3 sm:gap-6"
    >
      <HeaderLink href="/blog">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="size-5"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M19.875 3H4.125C2.953 3 2 3.897 2 5v14c0 1.103.953 2 2.125 2h15.75C21.047 21 22 20.103 22 19V5c0-1.103-.953-2-2.125-2zm0 16H4.125c-.057 0-.096-.016-.113-.016-.007 0-.011.002-.012.008L3.988 5.046c.007-.01.052-.046.137-.046h15.75c.079.001.122.028.125.008l.012 13.946c-.007.01-.052.046-.137.046z"
          ></path><path
            d="M6 7h6v6H6zm7 8H6v2h12v-2h-4zm1-4h4v2h-4zm0-4h4v2h-4z"></path>
        </svg>
        <span
          class="text-sm font-light uppercase tracking-tight hidden md:block"
        >
          Blog
        </span>
      </HeaderLink>
      <HeaderLink href="/projects">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="size-5"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z"
          ></path><path
            d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z"
          ></path></svg
        >
        <span
          class="text-sm font-light uppercase tracking-tight hidden md:block"
          >Proyectos</span
        >
      </HeaderLink>
      <HeaderLink href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="size-5"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="m2.344 15.271 2 3.46a1 1 0 0 0 1.366.365l1.396-.806c.58.457 1.221.832 1.895 1.112V21a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1.598a8.094 8.094 0 0 0 1.895-1.112l1.396.806c.477.275 1.091.11 1.366-.365l2-3.46a1.004 1.004 0 0 0-.365-1.366l-1.372-.793a7.683 7.683 0 0 0-.002-2.224l1.372-.793c.476-.275.641-.89.365-1.366l-2-3.46a1 1 0 0 0-1.366-.365l-1.396.806A8.034 8.034 0 0 0 15 4.598V3a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.598A8.094 8.094 0 0 0 7.105 5.71L5.71 4.904a.999.999 0 0 0-1.366.365l-2 3.46a1.004 1.004 0 0 0 .365 1.366l1.372.793a7.683 7.683 0 0 0 0 2.224l-1.372.793c-.476.275-.641.89-.365 1.366zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"
          ></path></svg
        >
        <span
          class="text-sm font-light uppercase tracking-tight hidden md:block"
          >Tools</span
        >
      </HeaderLink>
      <HeaderLink href="/resume" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="size-5"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M19 2H5a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2h4l3 3 3-3h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-7 3c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zM7.177 16c.558-1.723 2.496-3 4.823-3s4.266 1.277 4.823 3H7.177z"
          ></path></svg
        >
        <span
          class="text-sm font-light uppercase tracking-tight hidden md:block"
          >Resume</span
        >
      </HeaderLink>
    </nav>
  </section>
</header>

<style>
  @plugin '@midudev/tailwind-animations';
  span {
    position: relative;
    transition: all 0.3s ease;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 1px;
      background-color: rgb(var(--primary));
      transform: scaleX(0);
      transition: 0.2s;
      transform-origin: left;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .rotacion {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    &:hover {
      transform: rotate(360deg);
      color: rgb(var(--light), 0.65);
    }
  }
  .menu {
    animation: fade-in-left 0.6s ease-out;
  }
  .favicon{
    animation: rotate-in .8s ease-out;
  }
  /* @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    } 
  }*/
</style>
